footer{
  background: #1C612F;
  padding: 40px;
  padding-top: 120px;
  overflow: auto;
}
.rodape{
  display: flex;

  justify-content: space-between;
}
.integrantes p{
margin-top: 5px;
}
.integrantes-nomes{
  margin-top: 10px;
  font-size: 20px;
  color: #000501;
}

.info p {
  margin-top: 5px;
  font-size: 20px;
  color: #000501;
}
.info-tipo{
  margin-top: 10px;
  
}
.info-tipo a {
 text-decoration: none;
  color: black;
}
.info-tipo a:hover{
  color: #FCE8D7;
}

.bio p{
  margin-top: 5px;
  font-size: 20px;
  color: #000501;
}
.bio-info{
  margin-top: 10px;
}
.bio-info a {
  text-decoration: none;
  color: black;
}
.bio-info a:hover{
  color: #FCE8D7;
}

.contato p{
  margin-top: 5px;
}
.contato-info{
  margin-top: 10px;
  font-size: 20px;
  color: #000501;
}