.header {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  align-items: center;
  background: rgb(255, 255, 255);

  
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu li {
  list-style: none;
  flex-wrap: wrap;
}

.header-menu a {
  text-decoration: none;
  color: #0d0600;
  font-size: 18px;
  position: relative;
}
.header-menu a.adolphe:hover{
  opacity: 100;
}
.header-menu a:after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: black;
  border-radius: 4px;
  position: absolute;
  transition: 0.4s;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu li {
   padding: 10px 15px;
   
   border-radius: 4px;
   background: rgb(247, 243, 243);
  }
  .header{
    padding-right: 40px;
  }
  .header-menu a:after {
  display: none;
}
  
}

@media(max-width:530px){
.header{
 display: flex;
 flex-wrap: wrap;
 padding-left: 45px;
 
}
.header-menu{
  
  padding-left: 30px;
}
.header img{
  margin-left: 155px;
}
}

@media(max-width:450px){
.header{
 display: flex;
 flex-wrap: wrap;
 padding-left: 50px;
 align-items: center;
}
.header-menu{
  
  padding-left: 5px;
}
.header img{
  margin-left: 128px;
}
}

@media(max-width:400px){
.header{
 display: flex;
 flex-wrap: wrap;
 padding-left: 30px;
 
}
.header-menu{
  
  padding-left: 5px;
}
.header img{
  margin-left: 130px;
}
}

@media(max-width:360px){
.header{
 display: flex;
 flex-wrap: wrap;
 padding-left: 10px;
 
}
.header-menu{
  
  padding-left: 5px;
}
.header img{
  margin-left: 130px;
}
}