body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;

}
p, h1, h2,h3, button{
  margin: 0px;
}

a{
  text-decoration: none;
}

.homen{
display: none;
}

.homen.ativo{
display: block;
}

.mulher {
display: none;}

.mulher.ativo{
  display: block;
}

body{
  background: #1C612F;
}

.Adolphe{
  display: none;
}
.Adolphe.ativoover{
  display: block;
   position: absolute;
  padding-left: 560px;
  padding-top: 910px;
}

.Adolphe.ativoout{
  display: block;
   position: absolute;
  padding-left: 560px;
  padding-top: 0px;
  opacity: 0;
}


/* menus ativos dos corpos*/

.corpos-item1.ativo{
 border: 2px solid black;
}







