body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;

}
p, h1, h2,h3, button{
  margin: 0px;
}

a{
  text-decoration: none;
}

.homen{
display: none;
}

.homen.ativo{
display: block;
}

.mulher {
display: none;}

.mulher.ativo{
  display: block;
}

body{
  background: #1C612F;
}

.Adolphe{
  display: none;
}
.Adolphe.ativoover{
  display: block;
   position: absolute;
  padding-left: 560px;
  padding-top: 910px;
}

.Adolphe.ativoout{
  display: block;
   position: absolute;
  padding-left: 560px;
  padding-top: 0px;
  opacity: 0;
}


/* menus ativos dos corpos*/

.corpos-item1.ativo{
 border: 4px solid black;
 border-radius: 5px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right: 5px;
 
}
.corpos-item2.ativo{
 border: 4px solid black;
  border-radius: 5px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right: 5px;
}
.corpos-item3.ativo{
  border: 4px solid black;
   border-radius: 5px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right: 5px;
}
.corpos-item4.ativo{
  border: 4px solid black;
   border-radius: 5px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right: 5px;
}

.corpos-item5.ativo{
 border: 4px solid black;
  border-radius: 5px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right: 5px;
}
.corpos-item6.ativo{
 border: 4px solid black;
  border-radius: 5px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right: 5px;
}

.corpo-texto span{
  opacity: 0;
}

.opacity-0{
  opacity: 0;
}


.corpos-item1m.ativo{
 border: 4px solid black;
 border-radius: 5px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right: 5px;
 
}
.corpos-item2m.ativo{
 border: 4px solid black;
  border-radius: 5px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right: 5px;
}
.corpos-item3m.ativo{
  border: 4px solid black;
   border-radius: 5px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right: 5px;
}
.corpos-item4m.ativo{
  border: 4px solid black;
   border-radius: 5px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right: 5px;
}

.corpos-item5m.ativo{
 border: 4px solid black;
  border-radius: 5px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right: 5px;
}

.corpos-item6m.ativo{
 border: 4px solid black;
  border-radius: 5px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 5px;
 padding-right: 5px;
}







